html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #282933;
    background-repeat: repeat-x;
    background-position: center bottom;
    min-width:320px;
}

body {
    background-color: transparent;
    overflow: hidden;
}

header.titleholder {
    margin-bottom: 50px;
    position: relative;
}

header.titleholder .apptitle {
    display: block;
    margin: 10px 0 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

header.titleholder .apptitle h1 {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 1;
}

.btn {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 296px;
    height: 178px;
    border-radius: 3px;
    opacity: 0.5;
}

.app-container {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

h5.addapp {
    position: relative;
    top: 7.7em;
    color: #fff;
    z-index: 1;
}

a.addapp {
    color: #fff;
}

a.addapp:hover {
    font-weight: bold;
    text-decoration: none;
}

.top {
    position: relative;
    top: -80px;
}

input.form-control {
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 0px;
}

.mui-textfield>input, .mui-textfield>input:focus {
    color: #fff;
    border-bottom: 2px solid #687285;
}

.mui-textfield>label {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.back {
    background: transparent;
    border: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1 span {
        display: block;
    }

@media only screen and (max-width: 767px) {
    html {
        background-image: url("../img/dots_s.svg");
    }
    header.titleholder .apptitle {
        padding: 0px 0 35px 0;
        color: #ffbb00;
    }
    header.titleholder .apptitle h1 {
        font-size: 26px;
    }
    .btn {
        background-color: #ffbb00;
    }
    .listapp {
        color: #ffbb00;
    }
    .listapp:hover {
        font-weight: bold;
        text-decoration: none;
        color: #ffbb00
    }
    .mui-textfield>label {
        color: #ffbb00;
    }
    .mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
        color: #ffbb00;
        font-size: 13px;
    }
    textarea {
        height: 135px;
    }
    .apptitle {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    html {
        background-image: url("../img/dots_m.svg");
    }
    header.titleholder .apptitle {
        padding: 0px 0 35px 0;
        color: #01c884;
    }
    header.titleholder .apptitle h1 {
        font-size: 38px;
    }
    .btn {
        background-color: #01c884;
    }
    .listapp {
        color: #01c884;
    }
    .listapp:hover {
        font-weight: bold;
        text-decoration: none;
        color: #63706c
    }
    .mui-textfield>label {
        color: #01c884;
    }
    .mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
        color: #01c884;
        font-size: 13px;
    }
    textarea {
        height: 105px;
    }
}

.full-title {
    display: none;
}

@media only screen and (min-width: 992px) {
    html {
        background-image: url("../img/dots.svg");
    }
    header.titleholder .apptitle {
        color: #014ac8;
    }
    header.titleholder .apptitle h1 {
        font-size: 44px;
    }
    .btn {
        background-color: #014ac8;
    }
    .listapp {
        color: #fff;
    }
    .listapp:hover {
        font-weight: bold;
        text-decoration: none;
        color: #fff
    }
    .full-title {
        display: inline-block;
    }
    .split-title {
        display: none;
    }
    .mui-textfield>label {
        color: #014ac8;
    }
    .mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
        color: #014ac8;
        font-size: 13px;
    }
    .mui-form {
        width: 612px;
        margin: auto;
    }
    textarea {
        height: 150px;
    }
    .back {
        top: 33%;
        left: 17%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    h1 span {
        display: inline-block;
    }
    .app-item{
        max-width: 190px;
    }
    
    
}
@media only screen and (min-width: 1200px){
    .back {
        top: 33%;
        left: 23%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}


.disableSubmit {
    display: none;
}

.enableSubmit {
    display: inline-block;
}

.description {
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #767676;
}

.description>textarea {
    font-size: 12px !important;
    margin-top: 10px
}

.description>label {
    color: #687285 !important;
    font-size: 14px !important;
    padding-top: 7px;
}

.mui-textfield>textarea:focus~label {
    padding-top: 7px !important;
    margin-bottom: 10px !important;
}

.mui-textfield>textarea:focus {
    border-color: #fff;
    border: 0;
}

.mui-textfield>textarea {
    color: #767676;
    resize: none;
    border: 0;
}