html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #282933;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-image: url("../img/dots_s.svg");
    min-width: 360px;
}

body {
    background-color: transparent;
    overflow: hidden;
}

.bigbtn {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 296px;
    height: 176px;
    border-radius: 5px;
    opacity: 0.6;
    background-color: #ffbb00;
}

.btn-back {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 20%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ffbb00;
}

.btn-submit {
    width: 100%;
    border-radius: 3px;
    background-color: #687285;
    color: #fff;
    opacity: 1;
}

.btn-submit:hover {
    background-color: #5f697a;
    color: #fff;
}

.apptitle {
    font-size: 26px;
    color: #ffbb00;
}

h5.addapp {
    position: relative;
    top: 7.7em;
    color: #fff;
    z-index: 1;
}

a.addapp {
    color: #fff;
}

a.addapp:hover {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.listapp {
    color: #ffbb00;
}

.listapp:hover {
    font-weight: bold;
    text-decoration: none;
    color: #ffbb00
}

.break {
    display: block;
}

input.form-control {
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 0px;
}

.mui-textfield>input, .mui-textfield>input:focus {
    color: #fff;
    border-bottom: 2px solid #687285;
}

.mui-textfield>label {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.app-container {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

.mui-form {
    width: 100%;
    margin: auto;
}

.mui-textfield>label {
    color: #ffbb00;
}

.mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
    color: #ffbb00;
    font-size: 13px;
}

textarea {
    height: 135px;
}

.disableSubmit {
    display: none;
}

.enableSubmit {
    display: inline-block;
}

@media only screen and (min-width: 360px) and (max-width: 372px) {
    .btn-back {
        left: 15%;
    }
}

@media only screen and (min-width: 768px) {
    html {
        background-image: url("../img/dots_m.svg");
    }
    .apptitle {
        color: #01c884;
    }
    .bigbtn {
        background-color: #01c884;
    }
    .btn-back {
        color: #01c884;
        bottom: 5px;
    }
    .break {
        display: block;
    }
    .listapp {
        color: #01c884;
    }
    .listapp:hover {
        color: #01c884;
    }
    .mui-textfield>label {
        color: #01c884;
    }
    .mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
        color: #01c884;
    }
}

@media only screen and (min-width: 992px) {
    html {
        background-image: url("../img/dots.svg");
    }
    .btn-back {
        color: #014ac8;
        left: 20%;
        bottom: 5px;
    }
    .bigbtn {
        background-color: #014ac8;
    }
    .apptitle {
        font-size: 38px;
        color: #014ac8;
    }
    .break {
        display: inline-block;
    }
    .listapp {
        color: #fff;
    }
    .listapp:hover {
        color: #fff;
    }
    .mui-textfield>label {
        color: #014ac8;
    }
    .mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label, .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
        color: #014ac8;
    }
    .app-item {
        max-width: 190px;
    }
    .card {
        height: 256px !important;
        background-color: #687285;
        opacity: 0.7;
    }
    .card-text{
        font-size: 12px;
        color: #fff;
    }
}

@media only screen and (min-width: 1200px) {
    .btn-back {
        left: 25%;
    }
}

.description {
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #767676;
}

.description>textarea {
    font-size: 12px !important;
    margin-top: 10px
}

.description>label {
    color: #687285 !important;
    font-size: 14px !important;
    padding-top: 7px;
}

.mui-textfield>textarea:focus~label {
    padding-top: 7px !important;
    margin-bottom: 10px !important;
}

.mui-textfield>textarea:focus {
    border-color: #fff;
    border: 0;
}

.mui-textfield>textarea {
    color: #767676;
    resize: none;
    border: 0;
}

.btn-secondary {
    background-color: #687285;
    opacity: 0.7;
}

.btn-secondary:hover {
    background-color: #5f697a;
}