
    <table>
        <tbody>
        <tbody>
            <tr>
                <td align="center">
                    <table width="875px"
                           border="0"
                           cellspacing="0"
                           cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="bannertop"
                                    id="grad">A SUA FARMÁCIA TEM NOVAS FORMAS<br>
                                    PARA AJUDAR A SABER COMO TOMAR<br>
                                    OS SEUS MEDICAMENTOS</td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tr>
            <td align="center"
                bgcolor="#ffffff">
                <table width="656"
                       border="0"
                       cellspacing="0"
                       cellpadding="0">
                    <tbody>
                        <tr>
                            <td><br><br></td>
            </td>

        </tr>
        </tbody>
    </table>
    </td>
    </tr>
    <tr>
        <td align="center">
            <table width="100%"
                   border="0"
                   cellspacing="0"
                   cellpadding="0"
                   style="border-bottom: 0px solid #f2f3f3">

                <tbody>
                    <tr>
                        <td align="center">
                            <table width="656"
                                   border="0"
                                   cellspacing="0"
                                   cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="Left">
                                            <h1 style="font-family:Arial;font-size:40px;color:#156836;margin-bottom:17px">Farmácia
                                                Sifarma</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="687"
                   border="0"
                   cellspacing="0"
                   cellpadding="0">
                <tbody>
                    <tr>
                        <td align="center"
                            valign="top">
                            <table width="656"
                                   border="0"
                                   cellspacing="0"
                                   cellpadding="0">
                                <tbody>

                                    <tr>
                                        <td valign="top"
                                            style="padding:26px 16px 0px 16px">
                                            <h1 style="font-family:Arial;font-size:18px;color:#156836;margin-bottom:17px">Olá
                                                Isabel,</h1>
                                            <span style="font-family:Arial; font-size: 16px; color: #000000">O seu
                                                farmacêutico está sempre ao seu lado para ajudar! Aqui tem as
                                                indicações necessárias para poder tomar corretamente os seus
                                                medicamentos. <br><br> <br>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="img/tabela-tomas.png"
                                                 width="656"
                                                 alt="" /></td>
                                    </tr>

                                    <tr>
                                        <td valign="top"
                                            style="padding:26px 16px 0px 16px"><span style="font-family:Arial; font-size: 16px; color: #000000">
                                                <br>
                                                Caso tenha alguma questão sobre a sua medicação, não hesite em
                                                contactar-nos. <br>
                                                <br>
                                                <br>
                                                <span align="right"
                                                      style="font-family:Arial; font-size: 12px; color: #92D050"><a
                                                       href="farmaciasifarma@farmacia.pt"> farmaciasifarma@farmacia.pt</a>
                                                    | 912345678 | Rua da Farmacia, nº 1 B </span>
                                            </span></td>
                                    </tr>
                                    <tr>
                                        <td><br><br><img src="img/fundo2.png"
                                                 width="700"
                                                 alt="" /><br><br></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><br><br></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="656"
                   border="0"
                   cellspacing="0"
                   cellpadding="0">
                <tbody>
                    <tr>
                        <td><a href="https://www.farmaciasportuguesas.pt/sauda/como-funciona"></a></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr> </tr>

    </tbody>
    </table>