<header id="header" class="titleholder">
    <!-- <div class="overlay"></div> -->
    <div class="container">
    <div class="row">
        <div class="apptitle">
            <h1><span class="split-title">
                    <p>Catálogo</p>
                    <p>de Aplicações</p>
                </span>
                <span class="full-title">Catálogo de Aplicações</span></h1>
        </div>
    </div>
</div>
</header>